// Fonts
$mainEng-font: 'Montserrat';
$mainKor-font: 'nanumSquareNeo';
$mainNum-font: 'gmarket';

// Colors
$mainBg-color: #f3ede8;
$subBg100: #cdc0b1;
$subBg200: #afa395;
$subBg300: #81887c;
$subBg400: #afa7a2;
$subBg500: #a6afa2;

$white: #fff;
$black: #000;
$black100: #2b2b2b;
$black200: #434343;
$black300: #686868;
$black400: #e0e0e0;

// Typography
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-weight: 400;

// Media Queries
$mobile: 800px; 